{% extends 'tracker/base.html' %}
{% load staticfiles %}
{% load static %}
{% block title %}Set exam scores{% endblock title %}
{% block description %}
    Learning Journal for {{ student}}.
{% endblock description %}

{% block content %}
<h1>Learning Journal - By Date</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <td>Topic</td>
        <td>Point</td>
        <td>Date</td>
        <td>Entry</td>
    </tr>
    </thead>

    <tbody>
    {% for entry in entries %}
        <tr>
            <td>{% for topic in entry.syllabus_topic.all %}
                {{ topic }} {% endfor %}
            </td>
            <td>{% for point in entry.syllabus_point.all %}
                <button type="button" class="btn btn-info btn-xs" data-toggle="tooltip" data-placement="top" title="{{ point.syllabusText }}">{{ point.topic }}{{ point.number }}</button>
                {% endfor %}</td>
            <td>{{ entry.date_created }}</td>
            <td>{{ entry.entry|safe }}</td>
    {% endfor %}
        </tr>
    </tbody>
</table>

    {# for tooltips #}
    <script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock content %}