{% extends 'tracker/base.html' %}

{% block content %}
 <h1>Suspend Days</h1>
 <div class="container">
        <div class="row">
            <div class="col xl">


                <div class="card card-md">
                    <div class="card-body">
                        <h2 class="card-title text-center">
                            Suspend Multiple Days
                        </h2>
                        <form method="post">
                        {% csrf_token %}
                        {{ suspension_form.as_p }}
                        <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
 </div>


{% endblock content %}

{% block script %}
{{ suspension_form.media }}
{% endblock script %}