{% extends 'tracker/base.html' %}

{% block content %}
    {% load crispy_forms_tags %}
 <h1>Edit Lesson</h1>
 <div class="container">
        <div class="row">
            <div class="col xl">


                <div class="card card-md">
                    <div class="card-body">
                        <h2 class="card-title text-center">
                            Editing {{ lesson.classgroup }}'s lesson on {{ lesson.date }}
                        </h2>
<form method="post">
    {% csrf_token %}
                        {{ lesson_form.lesson_title | as_crispy_field:"bootstrap"  }}
                        {{ lesson_form.description | as_crispy_field:"bootstrap"  }}
                        {{ lesson_form.requirements | as_crispy_field:"bootstrap"  }}
                        {{ lesson_form.homework | as_crispy_field:"bootstrap"  }}
                        {{ lesson_form.homework_due | as_crispy_field:"bootstrap"  }}




{{ lesson_form.mptt_syllabus_points }}
<p>
                        {% for resource in  lesson.resources.all %}
                        {{ resource.editable_icon | safe }}
                        {% endfor %}
</p>
    <button type="submit" class="btn btn-primary" name="add_resource">Add Lesson Resource</button>
    <button type="submit" class="btn btn-primary" name="save">Save</button>
    <button type="submit" class="btn btn-primary" name="next_lesson">Save and go to next day</button>
    <button type="submit" class="btn btn-primary" name="classgroup_lessons">Save and go to group's lessons</button>

</form>
                    </div>
                </div>
                <div class="card card-md">
                    <div class="card-body">
                        <h2 class="card-title text-center">
                            Copy from Another Lesson
                        </h2>
                    Use this form to copy all the information from another lesson
                        <form>
                            {{lesson_search_form }}
                        </form>
                    </div>
                </div>

            </div>
        </div>
 </div>


{% endblock content %}

{% block script %}
{{ lesson_form.media }}


{% endblock script %}