{% extends 'tracker/base.html' %}

{% block content %}
    {% load crispy_forms_tags %}
 <h1>Edit Lesson</h1>
 <div class="container">
        <div class="row">
            <div class="col xl">


                <div class="card card-md">
                    <div class="card-body">
                        <h2 class="card-title text-center">
                            Edit A Lesson
                        </h2>
<form method="post">
    {% csrf_token %}
                        {{ lesson_form.lesson_title | as_crispy_field:"bootstrap"  }}
                        {{ lesson_form.description | as_crispy_field:"bootstrap"  }}
                        {{ lesson_form.requirements | as_crispy_field:"bootstrap"  }}
<ul class="mptt_tree">
    {% for value, label, point in lesson_form.mptt_syllabus_points.field.choices %}

                            {% if not point.is_leaf_node %}
                                    <li class="no-children">
                                    <input type="checkbox" name="mptt_syllabus_points" value="{{ point.pk}}" id="mptt_syllabus_points_{{ point.pk }}" class="syllabus-checkbox" {% if point in lesson.mptt_syllabus_points.all %}checked="checked"{% endif %}>
                                    <span class="caret">
                                    <label for="mptt_syllabus_points_{{ point.pk }}"></label>{{ label }}
                                    </span>
                                    <ul class="has-children nested">

                            {% else %}
                                    <li>
                                    <span class="no-children">
                                    <input type="checkbox" name="mptt_syllabus_points"  value="{{ point.pk }}"class="syllabus-checkbox {% if point in lesson.mptt_syllabus_points.all %}checked" checked="checked" {% else %}"{% endif %}>
                                    <label for="mptt_syllabus_points_{{ point.pk }}"></label>{{ label }}</span>
                                    </li>

                                    {% if not point.get_next_sibling.pk %}
                                        </li></ul>
                                        {% if not point.parent.get_next_sibling.pk %}
                                            </li></ul>
                                            {% if not point.parent.parent.get_next_sibling.pk %}
                                            </li></ul>
                                            {% if not point.parent.parent.parent.get_next_sibling.pk %}
                                            </li></ul>
                                                {% if not point.parent.parent.parent.parent.get_next_sibling.pk %}
                                            </li></ul>
                                        {% endif %}
                                                {% endif %}
                                        {% endif %}
                                        {% endif %}
                                    {% endif %}
                            {% endif %}
                    {% endfor %}


<p>
                        {% for resource in  lesson.resources.all %}
                        {{ resource.editable_icon | safe }}
                        {% endfor %}
</p>
    <button type="submit" class="btn btn-primary" name="add_resource">Add Lesson Resource</button>
    <button type="submit" class="btn btn-primary" name="save">Save</button>
</form>
                    </div>
                </div>
                <div class="card card-md">
                    <div class="card-body">
                        <h2 class="card-title text-center">
                            Copy from Another Lesson
                        </h2>
                    Use this form to copy all the information from another lesson
                        <form>
                            {{lesson_search_form }}
                        </form>
                    </div>
                </div>

            </div>
        </div>
 </div>


{% endblock content %}

{% block script %}
{{ lesson_form.media }}
    {% load static %}
        <script src="{% static "tracker/collapse_list_view.js" %}"></script>

{% endblock script %}