{% extends 'tracker/base.html' %}

{% block content %}
    {% load crispy_forms_filters %}
 <h1>Edit Lesson</h1>
 <div class="container">
        <div class="row">
            <div class="col xl">


                <div class="card card-md">
                    <div class="card-body">
                        <h2 class="card-title text-center">
                            Edit A Resource
                        </h2>
<form method="post">
    {% csrf_token %}
                        {{ lesson_resource_form.resource_name | as_crispy_field:"bootstrap" }}
{{ lesson_resource_form.link | as_crispy_field:"bootstrap" }}
    {{ lesson_resource_form.resource_type | as_crispy_field:"bootstrap" }}
    {{ lesson_resource_form.available_to_all_classgroups | as_crispy_field:"bootstrap" }}
    {{ lesson_resource_form.students_can_view_before | as_crispy_field:"bootstrap" }}
    {{ lesson_resource_form.students_can_view_before | as_crispy_field:"bootstrap" }}
    <button type="submit" class="btn btn-primary">Save</button>
</form>
                    </div>
                </div>
            </div>
        </div>
 </div>


{% endblock content %}

{% block script %}
{{ lesson_form.media }}
{% endblock script %}