{% extends 'tracker/base.html' %}
{% load staticfiles %}
{% load static %}
{% block subtitle %}
    Move Lesson
{% endblock subtitle %}
{% block content %}

 <div class="container">
        <div class="row">
            <div class="col xl">


                <div class="card card-md">
                    <div class="card-body">
                        <h2 class="card-title text-center">
                            Copy a lesson to another class
                        </h2>

                        <form method="post">
                            {% csrf_token %}
                        {{ moveform.as_p }}
                        <button type="submit" class="save btn btn-default">Move</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
 </div>
<! Start media/>
 <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

{{ moveform.media }}
{% endblock content %}

{% block script %}

{% endblock script %}