{% extends 'tracker/base.html' %}
{% block subtitle %}
    Timetable
{% endblock subtitle %}
{% block content %}
 <h1>Your Timetable</h1>
 <div class="container">
        <div class="row">
            <div class="col xl">


                <div class="card card-md">
                    <div class="card-body">
                        <h2 class="card-title text-center">
                            Timetable for {{ teacher }} week commencing {{ start_day }}
                        </h2>
                        <a class="btn btn-primary" align="left" href="{% url 'timetable:teacher_tt' teacher.pk last_week year %}" role="button"><<</a>
                        <div align="centre">
                            <form method="post">
                                {% csrf_token %}

                            </form>
                        </div>
                        <div class="btn-group float-right mt-2" role="group">
                            <a class="btn btn-primary" align="right" href="{% url 'timetable:teacher_tt' teacher.pk next_week year %}" role="button">>></a>
                        </div>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <td></td>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                            </tr>
                            {% for day in weekgrid %}
                            <tr>
                                {% for period in day %}
                                    <td

                                    {# dfisplay the day number first #}
                                        {% if forloop.first %}
                                        >{{ period | safe }}

                                        {# Check if it's a free #}

                                        {% elif period == "Free" %}
                                        class="table-success">Free

                                        {# Only the suspension type has a reason #}
                                        {% elif period.reason %}
                                        class="table-danger">{{ period.reason }}

                                        {# Only the lesson type has a lesson associated #}
                                        {% elif period.lessonslot %}
                                        >
                                          <a href="{% url 'timetable:class_lesson_list' period.lessonslot.classgroup.pk %}">{{ period.lessonslot.classgroup }}</a><br>
                                            <strong><a href="{% url 'timetable:edit_lesson' period.pk %}">{{ period.lesson_title }}</a></strong><br>
                                            {{ period.description }}<br>
                                            {% if period.requirements %}
                                            <strong>Order:</strong> {{ period.requirements }}
                                                {% for resource in period.lesson_resource_icons %}
                                                {{ resource|safe }}
                                                {% endfor %}
                                            {% endif %}



                                        {% endif %}


                                    </td>
                                {% endfor %}
                            </tr>

                            {% endfor %}
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
 </div>


{% endblock content %}

{% block script %}
<script>
    $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
{% endblock script %}