{% extends 'tracker/base.html' %}

{% block title %}Assessment Performance Summary{% endblock %}

{% block content %}
    <h1>
    Assessment performance summary for {{ student }} {{ student.tutorgroup }}
    </h1>

    <h2>Raw Scores</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <td>Question</td>
            <td>Syllabus points</td>
            <td>Score</td>
            <td>Your Remarks</td>
        </tr>
        </thead>

        <tbody>
        {% for mark in marks %}
        <tr>
            <td>{{ mark.question }}</td>
            <td>{% for point in mark.question.syllabuspoint.all %}
                <button type="button" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="{{ point.syllabusText }}">{{ point.topic }}{{ point.number }}</button>
                    {% endfor %}</td>
            <td>{{ mark.score }}/{{ mark.question.maxscore }}</td>
            <td>{{ mark.notes|safe }}</td>
        </tr>

        {% endfor %}
        </tbody>
    </table>

    <h2>Topic Summary</h2>

    <table class="table table-striped">
    <thead>
    <tr>
        <td>Topic</td>
        <td>Average Rating / 5</td>
    </tr>
    </thead>

    <tbody>
     {% for topic, rating in topic_data %}
         <tr>
         <td>{{ topic }}</td>
         <td>{{ rating }}</td>
         </tr>
     {% endfor %}
    </tbody>
    </table>
    <a class="btn btn-primary btn-lg" href="{% url 'tracker:student_ratings' student.pk sitting.classgroup.mptt_syllabustaught.all.0.pk %}" role="button">Return to your class overview</a>


    {% endblock content %}
{% block script %}



        {# for tooltips #}
    <script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock script %}