{% load staticfiles %}
{% load auth_extras %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>GreenPen{% block subtitle %}{% endblock subtitle %}</title>

    <link href="https://fonts.googleapis.com/css?family=Cuprum" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/v4-shims.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <link href="{% static 'bootstrap3-editable/css/bootstrap-editable.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/tracker.css' %}">
   <link rel="shortcut icon" type="image/png" href="/static/favicon.ico"/>

    {% block import_js %}
{% endblock import_js %}


</head>

<body>
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Greenpen</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>

            {% if request.user|has_group:"Teachers" %}


                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Teacher Resources
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'timetable:teacher_splash' %}">Timetable</a>
                        <a class="dropdown-item" href="{% url 'tracker:new_test' %}">Add an exam</a>
                        <a class="dropdown-item" href="{% url 'timetable:create_multiple_lesson_suspensions' %}">Suspend multiple days</a>
                    </div>
                </li>

            {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="/accounts/profile">{{ user.first_name }} {{ user.last_name }}</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}?next=/"> Log out </a></li>
            {% else %}


                    <a class='btn btn-default' href="{% url 'social:begin' 'google-oauth2' %}"><i class="fab fa-google-plus-g"></i>Login</a>
                </div>
                </form>
            {% endif %}
        </ul>
    </div>
</nav>

{# Show warning messages #}

{% if messages %}

    {% for message in messages %}


        <div class="alert alert-{{ message.tags }} alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
 {{ message }}
</div>

    {% endfor %}

{% endif %}
<div class="container">
    <h5>{% block title %}{% endblock title %}</h5>
</div>

<div class="container">
    <h3>{% block description %}{% endblock description %}</h3>

    {% block content %}
    {% endblock content %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>



<script src="{% static 'bootstrap3-editable/js/bootstrap-editable.js' %}"></script>

{% block script %}
{% endblock script %}



</body>
</html>
