{% load staticfiles %}
<html>
<head>
        <title>GreenPen</title>
        <link rel="stylesheet" href="{% static 'css/tracker.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Cuprum" rel="stylesheet">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load staticfiles %}

        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
        <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <link href="{% static 'bootstrap3-editable/css/bootstrap-editable.css' %}" rel="stylesheet">
        <script src="{% static 'bootstrap3-editable/js/bootstrap-editable.js' %}"></script>
</head>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Greenpen</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
              <li class="active"><a href="/accounts/profile">{{ user.username }} <span class="sr-only">(current)</span></a></li>
              <li><a href="{% url 'logout' %}?next=/"> Log out </a></li>
          {% else %}
              <form class='navbar-form navbar-right' method='POST' action="{% url 'login' %}">{% csrf_token %}
                  <div class='form-group'>
                      <input type='text' class='form-control' name='username' placeholder='Username' />
                  </div>
                  <div class='form-group'>
                      <input type='password' class='form-control' name='password' placeholder='Password' />
                  </div>
                  <button type='submit' class='btn btn-default'>Login</button>
              </form>
              <li><a href="{% url 'new_teacher' %}">New Teacher? Signup here.</a></li>
          {% endif %}
          <!--
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
          </li> -->
      </ul>

      <!--<ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul> -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



    <div class="container">
        <h5>{% block title %}{% endblock title %}</h5>
    </div>

    <div class="container">

                <h3>{% block description %}{% endblock description %}

            {% block content %}
            {% endblock %}

</body>
</html>
