{% extends 'tracker/base.html' %}

{% block content %}
 <h1>Syllabus Check</h1>
 <div class="container">
        <div class="row">
            <div class="col xl">


                <div class="card card-md">
                    <div class="card-body">
                        <h2 class="card-title text-center">
                            Syllabus Completion Check for {{ classgroup }}
                        </h2>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <td>Syllabus Taught</td>
                                <td>Percent Taught</td>
                                <td>Percent Assessed</td>
                            </tr>
                            {% for syllabus, percent_taught, percent_assessed in data %}
                                <tr {% if percent_taught == 100 %} class="table-success"
                                {% elif percent_taught > 0 %} class = "table-warn" %}>
                                {% endif %}
                                <td><a href="{% url 'tracker:classgroup_syllabus_completion' syllabus.pk classgroup.pk %}">{{ syllabus }}</a></td>
                                <td>{{ percent_taught }}</td>
                                <td>{{ percent_assessed }}</td>
                                </tr>
                            {% endfor %}
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
 </div>


{% endblock content %}

{% block script %}

{% endblock script %}