{% extends 'tracker/base.html' %}
{% load staticfiles %}
{% load static %}
{% block title %}Set exam scores{% endblock title %}
{% block description %}
    Editing the scores for {{ student}} of test {{ sitting.exam }} on {{ sitting.datesat }}.
{% endblock description %}

{% load crispy_forms_tags %}

{% block content %}
<form method="post">
{% csrf_token %}
{{ formset.management_form }}
{{ formset.media }}
<div>
        {% for question, form in data %}
            <div class="card">
                <h2 class="card-title">
                    Question {{ question }}
                </h2>

            <div class="card-body row">

                <div class="col-12">
                    {% for error in form.score.errors %}
                        <p class="warn" style="color: red"><strong>{{ error  }}</strong></p>
                        {% endfor %}
                </div>
                <div class="col-sm-1">

                    {{ form.score  }}

                </div>

                <div class="col-sm-1">
                    / {{ question.maxscore }}
                </div>

                <div class="col-md-4">
                    {% for point in question.MPTTsyllabuspoint.all %}
                <button type="button" class="btn btn-info btn-xs" data-toggle="tooltip" data-placement="top" title="{{ point.text }}">{{ point.parent.text }}</button>
                    {% endfor %}
                </div>

                <div class="col-lg-6">
                    {{ form.notes }}
                </div>
                <div class="hidden">
                    {% for field in form.hidden_fields %}
                    {{ field }}
                {% endfor %}
                </div>
            </div>
            </div>

        {% endfor %}

       <button class="btn-primary" type="submit">Save</button>

</form>

</div>
<br>
    <br>
    {% endblock content %}

{% block script %}
    {# for tooltips #}
    <script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>

{% endblock script %}