{% extends 'tracker/base.html' %}
{% load staticfiles %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Set exam scores{% endblock title %}
{% block description %}
    Editing the scores for {{ student }} of test {{ sitting.exam }} on {{ sitting.datesat }}.
{% endblock description %}

{% load crispy_forms_tags %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        {{ formset.media }}
        <div>
            {% for question, form in data %}
                <div class="card" id="q_{{ forloop.counter }}">

                    <h2 class="card-title">
                        Question {{ question }}
                    </h2>
                    <div class="alert alert-danger score-warning" role="alert">
                        You shouldn't see this warning.
                    </div>
                    <div class="card-body row exam-entry-row">

                        <div class="max_score" hidden='true'>{{ question.maxscore }}</div>
                        {% for error in form.score.errors %}
                            <p class="warn" style="color: red"><strong>{{ error }}</strong></p>
                        {% endfor %}

                        <div class="col-xs-1 mark-entry">

                            {{ form.score }}

                        </div>

                        <div class="col-xs-1" max={{ question.maxscore }}>
                            / {{ question.maxscore }}
                        </div>

                        <div class="col-xs-auto">
                            {% for point in question.MPTTsyllabuspoint.all %}
                                <button type="button" class="btn btn-info btn-xs" data-toggle="tooltip"
                                        data-placement="top" title="{{ point.text }}">{{ point.parent.text }}</button>
                            {% endfor %}
                        </div>

                        <div class="col">
                            {{ form.notes }}
                        </div>
                        <div class="hidden">
                            {% for field in form.hidden_fields %}
                                {{ field }}
                            {% endfor %}
                        </div>
                    </div>
                </div>

            {% endfor %}

            <button class="btn-primary last-button" type="submit">Save</button>
        </div>
    </form>

{% endblock content %}

{% block script %}
    {# for tooltips #}
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <script type="text/javascript" src="{% static "tracker/exam_mark_entry.js" %}"></script>
{% endblock script %}