{% extends 'tracker/base.html' %}
{% load staticfiles %}
{% load static %}
{% block title %}Exam Details{% endblock title %}
{% block description %}These are the details of the exam {{ exam.name }}.{% endblock description %}

{% block content %}

<div class="row">
    <h4>Sittings</h4>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Date sat</th>
            <th>Class Group</th>
            <th>Class Teacher</th>

        </tr>
        </thead>

        {% for sitting in sittings %}
            <tr>
                <td>{{ sitting.datesat }}</td>
                <td><a href="{% url 'tracker:sitting_detail' sitting.pk %}">{{ sitting.classgroup.groupname }}</a></td>
                <td>{{ sitting.classgroup.groupteacher }}</td>

            </tr>
        {% endfor %}
    </table>

                <a href="{% url 'tracker:new_sitting' exam.pk %}" class="btn btn-primary">Add Sitting</a>
</div>
<div class="row">
<form method="post">
    <h2>Questions</h2>

    <p>You can use this from to create questions for your exam. If you need to re-order questions, then you can use up to two decimal places. E.g., if you want to add a question after question 4, order is 4.1. When you save the form, it will re-order them to whole numbers.</p>
    <p>If you want to delete a question, set its order to 0 - that will delete it.</p>
    <div class="row">
    <div class="col-md-5">

        {% csrf_token %}
    Search syllabus points below:
        {{ parent_form }}
    </div>
    <div class="col-md-7">
        <table class="table table-striped">
            {{ qform.management_form }}
            {{ qform.non_form_errors.as_ul }}
            <table id="formset" class="form">
                {% for form in qform.forms %}
                    {% if forloop.first %}
                        <thead>
                        <tr>
                            {% for field in form.visible_fields %}
                                <th>{{ field.label|capfirst }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                    {% endif %}
                    <tr>
                        {% for field in form.visible_fields %}
                            <td>
                                {# Include the hidden fields in the form #}
                                {% if forloop.first %}
                                    {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                {% endif %}
                                {{ field.errors.as_ul }}
                                {{ field }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table><button type="submit" class="btn btn-primary">Save</button>
</div>



    </div></form>
</div>
{% endblock content %}

{% block script %}



  {{ qform.media }}
    {{ parent_form.media }}
{% endblock script %}
