{% extends 'tracker/base.html' %}

{% block title %}Exam Details{% endblock title %}
{% block description %}These are the details of the exam {{ exam.name }}.{% endblock description %}

{%  block content %}
<h4>Exam Questions</h4>
 <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Question number</th>
                            <th>Max score</th>

                        </tr>
                    </thead>

                        {% for question in questions %}
                        <tr>
                            <td>{{question.qnumber}}</td>
                            <td>{{question.maxscore}}</td>

                        </tr>
                        {% endfor %}
                </table>

    <h4>Sittings</h4>
    <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date sat</th>
                            <th>Class Group</th>
                            <th>Class Teacher</th>

                        </tr>
                    </thead>

                        {% for sitting in sittings %}
                        <tr>
                            <td>{{sitting.datesat}}</td>
                            <td><a href="{% url 'sittings' %}{{ sitting.pk }}">{{sitting.classgroup.groupname}}</a></td>
                            <td>{{ sitting.classgroup.groupteacher }}</td>

                        </tr>
                        {% endfor %}
                </table>

    <h2>Questions</h2>
    {{ qform.media }}
    <form action="{% url 'examDetail' exam.pk %}" method="post">
    {% csrf_token %}
    <table class="table table-striped">
    {{ qform.management_form }}
    <thead>
    <tr>
        <td>Order</td>
        <td>Question Number</td>
        <td>Maximum Score</td>
        <td>Syllabus Points Covered</td>
    </tr>
    </thead>
    <tbody>
    {% for qform in qform %}
    <tr>
        <td>{{ qform.qnumber }}</td>
        <td>{{ qform.qnumber }}</td>
        <td>{{ qform.maxscore }}</td>
        <td>{{ qform.syllabuspoint }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    <button type="submit" class="save btn btn-default">Save</button>
</form>
{% endblock content %}


