{% extends 'tracker/base.html' %}

{% block title %}Your Profile{% endblock %}

{% block content %}
    <h1>
    Students taught by {{ teacher }}
    </h1>

    <h2>
    Students
    </h2>

    <ul>
    {% for student in students %}
        <li><a href="{% url 'tracker:student_profile' student.pk %}">{{ student }}</a></li>
    {% endfor %}
    </ul>

    <h2>Assessments</h2>

    Your students have completed the following assessments:

    <table class="table table-striped">
    <thead>
    <tr>
        <td>Assessment name</td>
        <td>Class</td>
        <td>Date</td>
        <td>View Details</td>
    </tr>
    </thead>

    <tbody>
        {% for sitting in sittings %}
            <tr>
            <td>{{ sitting.exam }}</td>
            <td>{{ sitting.datesat }}</td>
            <td>{{ sitting.classgroup }}</td>
            <td><a class="button" href="{% url 'tracker:sitting_detail' sitting.pk %}">View</a> </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>

{% endblock %}