{% extends 'tracker/base.html' %}

{% block content %}
 <h1>{{ student }}: Performance in {{ sub_topic }}</h1>
 <div class="container">
        <div class="row">
            <div class="col xl">


                <div class="card card-md">
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <td>Syllabus Point</td>
                                <td>Average rating /5</td>
                                <td>Assessments</td>
                                <td>Lessons</td>
                                <td>Resources</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for syllabus_point, rating, assessments, lessons, resources in point_data %}
                            <tr {% if rating >= 4 %} class="table-success"
                                {% elif rating >= 3 %} class = "table-info"
                                {% elif rating >= 2 %} class="table-warning"
                                {% elif rating < 2 %} class="table-danger"
                            {% endif %}>
                            <td>{{ syllabus_point }}</td>
                            <td>{{ rating }}</td>
                            <td>{% if assessments %}
                               <a href="{% url 'tracker:small_assessment_list' syllabus_point.pk student.pk %}"><i class="fas fa-check-circle"></i>

</a>
                                    {% endif %}


</td>
                            <td>
                                {% for lesson in lessons %}
                                    {% if lesson.pk %}
                                    <a href="{% url 'timetable:lesson_details' lesson.pk %}">{{ lesson }}</a><br>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>{% for resource in resources %}
                                {% if resource.icon %}{{ resource.icon|safe }}{% endif %}{% endfor %}</td>
                            </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                    <form method="post">
                    {% csrf_token %}
                        {{ journal_form.media }}
                        {{ journal_form.entry }}
                        <br><button class="btn btn-primary" type="submit">Save Journal</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>


 </div>


{% endblock content %}

{% block script %}

{% endblock script %}