

{% extends 'tracker/base.html' %}
{% load mptt_tags %}
{% block content %}

        <div class="container">
                <h1>Syllabus'</h1>
        </div>

        <div class="container">

                <h3>Explore our syllabuses here.</h3>
                <ul class="mptt_tree">
                    {% recursetree syllabuses %}
                        <li {% if node.is_leaf_node %} class="no-children"{% endif %}>{% if not node.is_leaf_node %}
                            <input type="checkbox" name={{ node.pk }} id="{{ node.pk }}" class="syllabus-checkbox">
                            <span class="caret">
                            <label for="{{ node.pk }}">{{ node.text }}</label>
                            </span>
                            {% else %}
                            <span class="no-children">{{ node.text }}</span>

                            {% endif %}
                            {% if not node.is_leaf_node %}
                                <ul class="has-children nested">
                                    {{ children }}
                                </ul>
                            {% endif %}
                        </li>
                    {% endrecursetree %}
                </ul>



        </div>

{% endblock %}
{% block script %}
    {% load static %}
    <script src="{% static "tracker/collapse_list_view.js" %}"></script>
{% endblock %}