

{% extends 'tracker/base.html' %}

{% block content %}

        <div class="container">
                <h1>Teachers</h1>
        </div>

        <div class="container">

                <h3>This is a list of all our teachers:</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Forename</th>
                            <th>Surname</th>
                            <th>Staff code</th>
                        </tr>
                    </thead>

                        {% for teacher in teachers%}
                        <tr>
                            <td>{{teacher.user.first_name}}</td>
                            <td>{{teacher.user.last_name}}</td>
                            <td><a href="teachers/{{teacher.pk}}" class="xeditable" id="staffcode" data-type="text" data-pk="{{teacher.pk}}" data-url="/post" data-title="Enter staff code">{{teacher.staffcode}}</a></td>
                        </tr>
                        {% endfor %}
                </table>

<!--
                <table class="table">
                    <tr><td>Staff Code</td><td>Name</td><td>Teaches the following groups</td></tr>
                    <tr><td>JWR</td><td>James Wright</td><td>10Ph/1, 11Ph/2</td></tr>
                </table>

-->
        </div>
        <script type="text/JavaScript">
    
        $(document).ready(function() {
            $('.xeditable').editable();
        });
        </script>
{% endblock %}
