{% extends 'tracker/base.html' %}

{% block content %}
<h1>Journal for {{ student }}</h1>
    <table class="table">
    <thead>
    <tr>
        <td style="width:20%">Syllabus Point</td>
        <td style="width:5%">Rating /5</td>
        <td style="width:75%">Journal</td>
    </tr>
    </thead>

        {% for point, rating, entry in data %}
            <tr>
            <td><strong>{{ point.topic }} {{ point.number }}</strong> {{ point.syllabusText }}</td>
            <td>{{ rating }}</td>
            <td>{{ entry|safe }}</td>
            </tr>
        {% endfor %}
    </table>

     <button type="submit">Submit</button>
    </form>

    <script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock content %}