{% extends 'tracker/base.html' %}
{% block subtitle %}: Learning Journal{% endblock %}
{% block content %}
    <h1>Learning Journal for {{ student }}</h1>

    <div class="container">
        <div class="row">
            <h2>{{ topic }}</h2>
        </div>

        {% for sub_topic, rating in syllabus_point_data %}
        {% if forloop.first %}
            <div class="row">
        {% endif %}
            <div class="col col-md-5 journalEntry">
            <div class="row">
                <div class="col-10 align-items-center journalText">
                {{ sub_topic }}
                </div>
                <div class="col-2 align-items-center journalRating">
                {{ rating }}
                </div>
            </div></div>
        {% if forloop.counter|divisibleby:2 %}</div><div class="row">{% endif %}
        {% if forloop.last %}</div>{% endif %}
        {% endfor %}
    </div>

    <
{% endblock content %}