h1,h2,h3{
    color: rgb(200, 0, 0);
}

table {
  border:1px solid black;
}
table th {
  border-bottom:1px solid black;
}

th.rotate {
  height:80px;
  white-space: nowrap;
  position:relative;
}

th.rotate > div {
  transform: rotate(90deg);
  position:absolute;
  left:0;
  right:0;
  top: 10px;
  margin:auto;

}

.journalEntry {
    border: 2px solid;
    border-radius: 5px;
}

.journalText {
    background-color: #a8a8a6;

}

.journalRating {
    background-color: #d6f5fd;

}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



