{% extends 'tracker/base.html' %}

{% block content %}
    <h1>Class Detail for {{ classgroup }}</h1>
    <div class="container">
        <div class="row">
            <div class="card-group">

                <div class="col col-md-6">
                    <div class="card card-lg-6">
                        <div class="card-body">
                            <h2 class="card-title text-center">
                                Topics
                            </h2>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Topic</th>
                                    <th>% Assessed</th>
                                    <th>Average rating</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for topic, completion, rating in classgroup.class_topic_all_data %}
                                    <tr {% if rating >= 4 %} class="table-success"
                                {% elif rating >= 3 %} class = "table-info"
                                {% elif rating >= 2 %} class="table-warning"
                                {% elif rating < 2 %} class="table-danger"
                            {% endif %}>
                                        <td>{{ topic }}</td>
                                        <td>{{ completion }}</td>
                                        <td>{{ rating }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col col-md-6">
                    <div class="card card-lg-6">
                        <div class="card-body">
                            <h2 class="card-title text-center">
                                Students
                            </h2>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Student Name</th>
                                    <th>% Jouranled</th>
                                    <th>Average rating</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for student, journaled, rating in classgroup.all_students_completion_data %}
                                    <tr {% if rating >= 4 %} class="table-success"
                                {% elif rating >= 3 %} class = "table-info"
                                {% elif rating >= 2 %} class="table-warning"
                                {% elif rating < 2 %} class="table-danger"
                            {% endif %}>
                                        <td><a href="{% url 'school:student_class_overview' student.pk classgroup.pk %}">{{ student }}</a>
                                        </td>
                                        <td>{{ journaled }}</td>
                                        <td>{{ rating }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-12">
            <div class="card card-lg-12">
                <div class="card-body">
                    <h2 class="card-title text-center">
                        Assessments
                    </h2>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Assessment</th>
                            <th>Average score</th>
                            <th>Range</th>
                            <th>Std Deviation</th>
                            <th>Open for recording</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for assessment in classgroup.assessments %}
                            <tr>
                                <td><a href="{% url 'tracker:sitting_detail' assessment.pk %}">{{ assessment }}</a></td>
                                <td>{{ assessment.class_average_score_str }}</td>
                                <td>{{ assessment.class_score_range }}</td>
                                <td>{{ assessment.class_score_std }}</td>
                                <td><a href="{% url "tracker:sitting_toggle_open_for_recording" assessment.pk %}">
                                    {% if assessment.openForStudentRecording %}<span style="color: #00dc00;">
 <i class="fas fa-lock-open"></i>
</span>{% else %} <span style="color: Tomato;">
  <i class="fas fa-lock"></i>
</span> {% endif %}</td>
                            </a></tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>
    </div>


{% endblock content %}

{% block script %}

{% endblock script %}