{% extends 'tracker/base.html' %}

{% block title %}School{% endblock %}

{% block content %}

    <body>
        <div class="center">
                <div class="jumbotron">
                    <h1 class="display-4">Welcome to School Manager</h1>
                         <p class="lead">These pages allow you to set and manage assessments and view student progress against checklists.</p>
                    <hr class="my-4">
                    <p>It is currently under development by a group of GIS teachers.</p>
                    <p class="lead">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
          </p>
        </div>
                <a class="btn btn-primary btn-lg" href="#" role="button">My Classes</a>
                <a class="btn btn-primary btn-lg" href="#" role="button">My syllabus</a>

        </div>
    </body>
{% endblock %}