{% extends 'tracker/base.html' %}

{% block content %}
    <div class="container">
        <h1>Your Learning: {{ student }}</h1>
        <div class="row">
            {% for dataset in classgroup_data %}
            <div class="col xl">


                <div class="card card-md">
                    <div class="card-body">
                        <h2 class="card-title text-center">
                            <a href="{% url 'school:student_class_overview' student.pk dataset.classgroup.pk %}">{{ dataset.classgroup }}</a>

                        </h2>
                        You have learned {{ dataset.classgroup.percentage_topics_taught }}% of all the content of this course
                        <h3>Recent Assessments</h3>
                        <table class="table">
                            <tr>
                                <td>Assessment</td>
                                <td>Date</td>
                                <td>Score</td>
                                <td>Enter Marks</td>
                            </tr>
                                {% for assessment, score in dataset.assessments %}
                                <tr>
                                    <td><a href="{% url 'tracker:student_sitting_summary' assessment.pk student.pk %}">{{ assessment.exam }}</a></td>
                                    <td>{{ assessment.datesat }}</td>
                                    <td>{{ score }}</td>
                                    <td><a class="btn btn-primary btn-lg" href="{% url 'tracker:input_marks' assessment.pk student.pk %}" role="button">Enter Marks</a></td>

                                </tr>
                                {% endfor %}
                        </table>
                        <h3>Topics</h3>
                        <table class="table">
                            <tr>
                                <td>Topic</td>
                                <td>Rating</td>
                            </tr>
                                {% for topic, rating in dataset.topics %}
                                <tr {% if rating >= 4 %} class="table-success"
                                {% elif rating >= 3 %} class = "table-info"
                                {% elif rating >= 2 %} class="table-warning"
                                {% elif rating < 2 %} class="table-danger"
                            {% endif %}>
                                    <td><a href="{% url 'tracker:student_topic_overview' topic.pk student.pk %}">{{ topic }}</a></td>
                                    <td>{{ rating }}</td>

                                </tr>
                                {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            {% endfor %}


{% endblock %}