{% extends 'tracker/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col xl">


                <div class="card card-md">
                    <div class="card-body">
                        <h2 class="card-title text-center">
                            Your Classes
                        </h2>
                        <table class="table">
                            <tr>
                                <td>Class</td>
                                <td>% taught</td>
                                <td>% tested</td>
                                <td>Average score</td>
                            </tr>
                            {% for class in classes %}
                                <tr>
                                    <td><a href="{% url 'school:class_details' class.pk %}"{{ class.groupname }}>{{ class }}</a></td>
                                    <td>{{ class.percentage_topics_taught }}</td>
                                    <td>{{ class.classgroup_average_completion }}</td>
                                    <td>{{ class.classgroup_average_rating }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    <a href="{% url 'school:import_students' %}">Import students</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col xl">
                <div class="card card-md">
                    <div class="card-body">
                        <h2 class="card-title text-center">
                            Your Assessments
                        </h2>
                        <table class="table">
                            <tr>
                                <td>Assessment name</td>
                                <td>Class</td>
                                <td>Date</td>
                                <td>Complete?</td>

                            </tr>

                            {% for assessment in assessments %}
                                <tr>
                                <td><a href="{% url 'tracker:sitting_detail' assessment.pk %}">{{ assessment.exam }}</a></td>
                                <td><a href="{% url 'school:class_details' assessment.classgroup.pk %}">{{ assessment.classgroup }}</a></td>
                                <td>{{ assessment.datesat }}</td>
                                <td>{% if assessment.openForStudentRecording %}
                                <span style="color: Tomato;">
  <i class="fas fa-times-circle"></i>
</span>
                                {% else %}<span style="color: #00dc00;">
  <i class="fas fa-check"></i>
</span>{% endif %}
                            {% endfor %}
                            </tr>
                        </table>
                        <a href="{% url 'tracker:new_test' %}" class="btn btn-primary">Add Assessment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}