{% extends 'tracker/base.html' %}

{% block content %}

        <div class="container">
                <h1>Students</h1>
        </div>

        <div class="container">

                <h3>This is a list of all our students:</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Forename</th>
                            <th>Surname</th>
                            <th>Class(es)</th>
                        </tr>
                    </thead>

                        {% for student in students%}
                        <tr>
                            <td><a href="{% url 'tracker:student_ratings' student.pk 1%}">{{student.user.first_name}}</a></td>
                            <td>{{student.user.last_name}}</td>
                            <td>
                                {% for group in student.classgroups.all %}
                                    <a href="{% url 'tracker:classgroup_ratings' group.pk 1%}">{{ group }}</a>
                                {% endfor %}
                            </td>
                        </tr>
                        {% endfor %}
                </table>

            <div class="well">
            </div>

        </div>
        <script type="text/JavaScript">

        $(document).ready(function() {
            $('.xeditable').editable();
        });
        </script>
{% endblock %}
